@charset "UTF-8";
.menu__item {
  @inc font-family: Roboto;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.13px;
  color: black;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-decoration: none;
}

.menu__logo {
  font-family: "PlayfairDisplay", serif;
  font-size: 86px;
  font-weight: 600;
  line-height: 103.2px;
  width: 182px;
  height: 100%;
}

.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@font-face {
  font-family: "PlayfairDisplay";
  src: url(/font/static/PlayfairDisplay-Regular.ttf);
}
.box__title {
  font-family: "PlayfairDisplay", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 103.2px;
  margin-top: 110px;
  margin-bottom: 14px;
  text-align: center;
}

.box__description {
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
  line-height: 23.44px;
  display: flex;
  text-align: center;
  color: black;
  align-items: center;
  justify-content: center;
}

.biography__block {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  width: 115px;
  height: 23px;
  margin-top: 38px;
  transform: rotate(-90deg);
}

.biography__pic {
  width: 571px;
  height: 840px;
  top: 916px;
  left: 138px;
  -o-object-fit: cover;
     object-fit: cover;
}

.box-block__name {
  font-family: "PlayfairDisplay", serif;
  font-size: 86px;
  font-weight: 500;
  line-height: 114.64px;
  text-align: left;
  margin-bottom: 38px;
}

.biography__box-block {
  width: 455px;
  height: 840px;
  top: 916px;
  left: 848px;
  padding: 18px 0px 18px 0px;
  gap: 36px;
  opacity: 0px;
}

.biography__sign {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  text-align: left;
  color: black;
  width: 466.04px;
  margin-top: 42px;
  margin-bottom: 38px;
}

@font-face {
  font-family: "Bitter";
  src: url(/font/static/Bitter-Regular.ttf);
}
#rectangle {
  width: 20px;
  height: 6px;
  margin-top: 38px;
  background-color: black;
}

.biography__comment {
  font-family: Bitter;
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
  width: 468px;
  height: 148px;
  gap: 18px;
  margin-top: 18px;
}

.designers__block {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-left: 101px;
}

.designers__pic-1 {
  width: 572px;
  height: 538px;
}

.designers__menu {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: visible;
  justify-content: space-around;
  gap: 15px;
}

.designers__pic-2 {
  width: 335.96px;
  height: 439.46px;
  top: 99px;
}

.designers__pic-3 {
  width: 330.78px;
  height: 439.46px;
  top: 99px;
}

.designers__pic-4 {
  width: 335.96px;
  height: 439.46px;
  top: 99px;
}

.designers__name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}

.menu-item-2, .menu-item-3, .menu-item-3, .menu-item-4 {
  margin-top: 29%;
}

.name-1 {
  margin-left: 48%;
}

.designers__name {
  margin-top: 5.5%;
}

.designers__sign {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
  text-align: left;
}

.designers__sign-1 {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: left;
}

.testimonials__webmenu-block {
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 15rem 15rem 15rem;
  gap: 10px;
  margin-top: 80px;
  justify-content: center;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;
}
.testimonials__webmenu-block a {
  color: black;
}

.webmenu {
  width: 190px;
  height: 49px;
  margin: auto;
}

.web-1 {
  grid-row: 3/3;
  transform: rotate(-90deg);
}

.web-2 {
  grid-row: 2/2;
  transform: rotate(-90deg);
}

.web-3 {
  grid-row: 1/1;
  transform: rotate(-90deg);
}

.testimonials__block {
  width: 140px;
  height: 28px;
  top: 140px;
  left: 593px;
  margin-top: 55px;
  margin-left: -50px;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  transform: rotate(-90deg);
}

.testimonials__title-menu {
  display: grid;
  grid-template-columns: 451px;
  grid-template-rows: 380px 380px;
  gap: 20px;
  width: Fixed 451px px;
  height: Fixed 760px px;
  left: 712px;
  gap: 42px;
}

.testimonials__comment {
  width: 221px;
  height: 304px;
  font-family: Bitter;
  font-size: 32px;
  font-weight: 400;
  line-height: 38.4px;
  text-align: center;
  margin-top: 56px;
}

.testimonials__pic-1 {
  width: 451px;
  height: 760px;
}

.testimonials__pic-2 {
  width: 221px;
  height: 333px;
  margin-top: -45px;
}

.strong-points__block {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  margin-top: 90px;
  margin-bottom: 25px;
  margin-left: 240px;
  text-align: left;
}

.strong-points__pic-1 {
  width: 335px;
  height: 554px;
  top: 99px;
}

.strong-points__pic-2 {
  width: 335px;
  height: 554px;
  left: 356px;
}

.strong-points__pic-3 {
  width: 335px;
  height: 555px;
  left: 1183px;
}

.name-title__name {
  font-family: Playfair Display;
  font-size: 86px;
  font-weight: 500;
  line-height: 86px;
}

.name__list {
  font-family: Bitter;
  font-size: 34px;
  font-weight: 400;
  line-height: 40.8px;
}

.footer__block-adress {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  font-family: Roboto;
  align-items: left;
}

.footer__name-studio {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
}

.name-studio__logo {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 900;
  line-height: 28.13px;
}

.footer__end {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-align: end;
}

.menu__title-menu {
  width: 1, 195px;
  height: Hug 28px;
  gap: 55px;
  opacity: 0px;
  text-align: right;
}

.section-with-no-wrap {
  background: url(/img/1.jpg) 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 630px;
  background-size: 100%;
  top: 135px;
  padding: 0 auto;
}

.section-with-no-wrap__box {
  min-width: 690px;
  min-height: 360px;
  background: rgb(255, 255, 255);
  align-items: center;
  justify-content: center;
}

.biography {
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  margin-top: 151px;
}

.strong-points__block-title {
  display: grid;
  transition: all 0.5s;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow-x: auto;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 40rem;
  gap: 20px;
}

.strong-points__name-title {
  justify-content: center;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: aliceblue;
  line-height: 140px;
}
.footer a {
  color: aliceblue;
}

@media all and (max-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .title-menu {
    margin-left: -300px;
  }
  /*Не понятно, как растянуть*/
  .section-with-no-wrap {
    margin-top: 5%;
    background-size: cover;
  }
  .block-Kate {
    display: flex;
    flex-direction: column;
  }
  .block {
    transform: none;
  }
  .Design-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu {
    transform: none;
  }
  .name-block {
    margin-left: 300px;
  }
  .block-testimonials {
    justify-items: end;
  }
  .strong-point {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 480px) {
  .header {
    display: flex;
    flex-wrap: wrap;
  }
  .title-menu {
    position: relative;
    z-index: 1;
    cursor: pointer;
    display: block;
    position: relative;
    border: none;
    background: transparent;
    width: 40px;
    height: 26px;
  }
  /*Не понятно, как растянуть*/
  .section-with-no-wrap {
    margin-top: 5%;
    background-size: cover;
  }
  .block-Kate {
    display: flex;
    flex-direction: column;
  }
  .block {
    transform: none;
  }
  .Design-block {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .container {
    display: flex;
    flex-direction: column;
  }
  .menu {
    transform: none;
  }
  .name-block {
    margin-left: 300px;
  }
  .block-testimonials {
    justify-items: end;
  }
  .strong-point {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 480px) {
  .body {
    display: flex;
  }
  /*тут не понятно, как быть с меню и как разделить картинки фон и там где про мод указано*/
  .name-Mode {
    display: none;
  }
  .title-menu {
    cursor: pointer;
  }
  .nav__item {
    display: block;
    position: relative;
    border: none;
  }
  .title-box {
    width: 100%;
    min-width: 100px;
    background-position: 100%;
  }
  #pic {
    min-width: 450px;
    min-height: 400.54px;
    width: 115%;
    height: 100%;
  }
  .block-Kate {
    display: flex;
    flex-direction: column-reverse;
  }
  /*как его сделать списком, переписать?*/
  .sign-one {
    display: flex;
    flex-flow: column wrap;
  }
  /*А как быть с Биографией, как поднять?*/
  .block {
    align-content: space-between;
  }
  .section-with-no-wrap {
    background: none;
    display: block;
  }
  /*тут тянется какое то поле справа, не могу понять почему*/
  .Design-block {
    display: grid;
    justify-content: start;
    gap: 1px;
  }
  .Design-pic {
    min-width: 100px;
    min-height: 100px;
  }
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  #pic_7 {
    display: none;
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */